# Files and folder to ignore :

# VS Code folder:
.vscode/

# Files :
/Text_Counter
/volham.txt
/volham_en.txt
/Text_Counter.exe

# CMake Files and folder :
/*.txt
!/CMakeLists.txt
/Makefile
/*.cmake
CMakeFiles/